# Regresión Logística

In [1]:
import pandas as pd

Vamos a trabajar con el dataset German Credit. Este conjunto de datos clasifica a las personas descritas como buenos o malos riesgos crediticios.

Variables

- Edad (numérico)

- Sexo (texto: masculino, femenino)

- Trabajo (numérico: 0 - no calificado y no residente, 1 - no calificado y residente, 2 - calificado, 3 - altamente calificado)

- Vivienda (texto: propia, renta o gratis)

- Cuentas de ahorro (texto - pequeño, moderado, bastante rico, rico)

- Cuenta corriente (numérica, en DM - marco alemán)

- Importe del crédito (numérico, en DM)

- Duración (numérica, en meses)

- Finalidad (texto: automóvil, muebles/equipos, radio/TV, electrodomésticos, reparaciones, educación, negocios, vacaciones/otros)

In [24]:
data =  pd.read_csv('german_credit_data.csv',index_col=0)

In [25]:
data.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,49,male,1,own,little,NaN,2096,12,education,good
3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,53,male,2,free,little,little,4870,24,car,bad

Objetivo

- Realizar regresión logística siguiendo los mismos pasos del ejercicio visto en clases. Incorporar métodos de balanceo si es necesario.